.navbar{
    background-color: rgb(226, 252, 252);
}
.collapse{
    justify-content: center;
    margin-top: 0%;
}

.li-container{
    font-size: medium;
    padding: 4px;
    border-radius: 3px;
}

.li-container:hover, .li-container:active{
    background-color: rgb(107, 197, 228);
    font-size: large;
}
